.container{
    border-radius: 2em;
    width: 40vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 6em;
    padding: 2em;
    box-shadow: 0px 0px 32px 10px rgba(231,214,255,1);
}

.titulo{
    padding: 20px;
    font-size: 1.5em;
    
    padding-inline: 60px;
    color: #7814FF;
    font-weight: bold;
}

.automovel{
    padding-inline: 60px;
    display: flex;
    justify-content: space-between;
    padding-block: .5em;
}

.info{
    display: flex;
    gap: 1.5em;
    align-items: center;
    color: #7814FF;
}

.botao{
    background-color: #7814FF;
    height: 2em;
    aspect-ratio: 2.5/1;
    border-radius: .5em;
    display: grid;
    place-items: center;
    color: #fff;
    cursor: pointer;
}

.botao:hover{
    background-color: #9442ff;
}