<div class="container">
    <div class="titulo">{{automovel.modelo}}</div>
    
    <div class="select-box">
        <div class="label">Cliente:</div>
        <select name="clientes" id="clientes" class="clientes">
            <ng-container *ngFor="let cliente of clientes">
                <option value={{cliente.id}}>{{cliente.nome}}</option>
            </ng-container>
            
        </select>
    </div>

    <div class="select-box">
        <div class="label">Concessionaria:</div>
        <select name="clientes" id="concessionaria" class="clientes">
            <ng-container *ngFor="let concessionaria of concessionarias">
                <option value={{concessionaria.column1}}>{{concessionaria.column2}}</option>
            </ng-container>
            
        </select>
    </div>

    <div class="botao" (click)="Vender()">Confirmar</div>
</div>
